%li.show__item
  = link_to "", class: "show__item--box" do
    = fa_icon "angle-right", class: "angle"
    = image_tag 'jcb.svg', class: "photo"
    .discription
      .discription__title
        / 商品名
        %h3
          JCB
      .discription__tag
        %label.discription__tag--complete
          売却済
