.user-item__box--main
  %h1 購入した商品
  %ul.select
    %li.select__tag.half{ @select_page == "progress" ? {class: "active"} : {}}
      %span
        取引中
    %li.select__tag.half{ @select_page == "complete" ? {class: "active"} : {}}
      %span
        過去の取引
  .select__items{ @select_page == "progress" ? {} : {hidden: "hidden"}}
    - if @purchase.length == 0
      = image_tag "logo-gray-icon.svg", class: "logo"
      %h2 取引中の商品がありません
    - else
      %ul.show
        = render partial: "purchase", collection: @purchase, as: "item"
  .select__items{ @select_page == "complete" ? {} : {hidden: "hidden"}}
    - if @purchased.length == 0
      = image_tag "logo-gray-icon.svg", class: "logo"
      %h2 購入した商品がありません
    - else
      %ul.show
        = render partial: "purchased", collection: @purchased, as: "item"
