.entry-box
  .entry-box__box
    %h1 会員登録完了
    .entry-box__box--form
      .content
        .last-message
          %span
            ありがとうございます。
            %br
            会員登録が完了しました。
        = link_to "メルカリをはじめる。", root_path, class: "btn-next"
