- breadcrumb :purchased
.purchase-item
  .purchase-item__box
    .purchase-item__box--main
      %h1 購入した商品
      %ul.select
        %li.select__tag
          = link_to "取引中", purchase_users_path, class: "differ"
        %li.select__tag
          = link_to "過去の取引", "", class: "active"
      / 商品の有無での条件分岐
      / = image_tag "logo-gray-icon.svg", class: "logo"
      / %h2 購入した商品がありません
      %ul.show
        / 購入済みの商品を取り出し
        = render partial: "purchased"

    = render partial: 'user_side_bar'
