.header {
  height: 90px;
  width: 100%;
  background: #FFF;
  &__inner {
    height: 82px;
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px;
    &--upper {
      height: 36px;
      .logo {
        @include f-left;
        a {
          img {
            width: 134px;
            height: 36px;
          }
        }
      }
      .header-form {
        @include f-right;
        height: 100%;
        width: calc(100% - (134px + 16px));
        &__search {
          position: absolute;
          width :870px;
          .search-form {
            font-size: 16px;
            width: 100%;
            background: #fafafa;
            height: 36px;
            padding: 9px 32px 9px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
          .fa-search {
            position: absolute;
            font-size: 16px;
            top: 9px;
            right: 10px;
          }
        }
      }
    }
    &--lower {
      height: 38px;
      line-height: 38px;
      margin-top: 8px;
      @include pulldown;
      .login-nav {
        @include f-right;
        &__button {
          li {
            @include f-left;
            line-height: 30px;
            height: 30px;
          }
          &--login {
            background-color: #ea352d;
            border-radius: 4px;
            a {
              color: white;
              padding: 0 10px 0;
            }
          }
          &--signup {
            margin-left: 8px;
            border: 1px solid #0099e8;
            background-color: #white;
            border-radius: 4px;
            a {
              color: #0099e8;
              padding: 0 10px 0;
            }
          }
        }
      }
      .nav-box {
        width: 350px;
        @include f-right;
        .mypage-nav {
          width: 120px;
          @include f-left;
          position: relative;
          @include mymenu;
          &__avatar {
            @include f-left;
            img {
              @include circle;
              height: 32px;
              width: 32px;
            }
          }
          &-title {
            @include f-left;
            margin-left: 8px;
          }
        }
        &__info {
          @include f-left;
          padding-left: 16px;
          position: relative;
          .fa-bell-o {
            @include fa-icon();
            font-size: 16px;
          }
          @include count-icon;
        }
        &__playlist {
          @include f-left;
          padding-left: 16px;
          .fa-check {
            font-size: 16px;
          }
        }
      }
    }
  }
}
