.owl-carousel {
  width: 100%;
  height: 390px;
  .owl__stage-outer {
    .owl__stage {
      &--item {
        background-image: url('index/banner-new-register-2019.jpg');
        width: 100%;
        height: 390px;
        text-align: center;
      }
      &--nav{
      }
      &--dots{
      }
    }
  }
}

.pickup-container {
    padding-top: 40px;
    width: 100%;
  &__head {
    font-size: 28px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
  &__box {
      display: block;
      width: 940px;
      margin: 0 auto;
    .topix {
      text-align: center;
      margin: 26px 11px;
      font-size: 22px;
      a {
        color: #0099c8;
        font-weight: bold;
      }
    }
    &--content {
      margin: 0 auto;
      height: 330px;
      width: 940px;
      .item-box {
        @include f-left;
        height: 330px;
        width: 213px;
        margin-left: 20px;
        &__photo {
          width: 213px;
          &--banner {
            height: 213px;
            width: 213px;
          }
        }
        &__body {
          padding: 16px;
          &--name {
            font-size: 16px;
          }
          &--info {
            height: 28px;
            margin-top: 8px;
            .item-price {
              @include f-left;
              font-size: 20px;
            }
            .item-like {
              @include f-right;
            }
          }
          .item-tax {
            font-size: 10px;
            clear: both;
          }
        }
      }
    }
    .item-all {
      text-align: right;
      clear: both;
      padding: 20px 0 30px;
      a {
        color: #0099e8;
      }
    }
  }
}
