.button-list {
  margin: 24px 0;
  background-color: #fff;
  width: 100%;
  padding: 15px 0;
  &__edit {
    background: #ea352d;
    color: #fff;
    width: 90%;
    display: block;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    text-align: center;
    margin-left: 35px;
  }
  &__center {
    text-align: center;
    margin: 15px 0 ;
    font-size: 1.2rem;
  }
  &__stop {
    width:90%;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    margin: 0 0 13px 35px;
    display: block;
  }
  &__delite {
    background: #aaa;
    color: #fff;
    width: 90%;
    border: 1px solid #ea352d;
    display: block;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    text-align: center;
    margin-left: 35px;
  }
}
