@mixin progress-bar {
  .progress-bar {
    padding: 40px 0 0 44px;
    display: inline-block;
    vertical-align: top;
    .clearfix {
      @include clearfix();
      .active {
        margin: 0 40px 0 0;
        font-size: 12px;
        font-weight: 600;
        color: #ea352d;
        position: relative;
        z-index: 1;
        display: inline-block;
        .progress-status {
          border-radius: 50%;
          background: #ea352d;
          z-index: 3;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          &:after {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
      }
      .inactive {
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #888;
        position: relative;
        z-index: 1;
        display: inline-block;

        .progress-status {
          border-radius: 50%;
          background: #ccc;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          &:before {
            right: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }
          &:after {
            left: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
      }
      .last {
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #888;
        position: relative;
        z-index: 1;
        display: inline-block;
        .progress-status {
          border-radius: 50%;
          background: #ccc;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          &:before {
            right: 60%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
      }
    }
  }
}
