.show-page {
  @include clearfix;
  width: 1020px;
  margin: 40px auto;
  &__tag {
    @include clearfix;
    li {
      float: left;
      margin: 16px 16px 0 0;
      .tag {
        color: #0099e8;
      }
    }
  }
  &__index {
    @include clearfix;
    h1 {
      margin: 24px 0 8px;
      font-size: 22px;
      font-weight: bold;
    }
    @include item-list(330px, 100%, 20px, 5);
  }
}
