.user-logout {
  &__area{
    margin: 40px auto;
    width: 1020px;
    &--box {
      @include f-right;
      width: 700px;
      height: 180px;
      background: #fff;
      line-height: 180px;
      text-align: center;
      a {
        display: inline-block;
        background: #f00;
        color: #fff;
        width: 318px;
        height: 48px;
        line-height: 48px;
        text-align: center;
      }
    }
  }
}

