body {
  min-height: 100%;
  background:#f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}

.main-container {
  &__box{
    position: relative;
  }
}

