body {
  min-height: 100%;
  background:#f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  position: relative;
  .header {
    height: 90px;
    width: 100%;
    background: #FFF;
    &__inner {
      height: 82px;
      width: 1020px;
      margin: 0 auto;
      padding-top: 8px;
      &--upper {
        height: 36px;
        .logo {
          @include f-left;
          a {
            img {
              width: 134px;
              height: 36px;
            }
          }
        }
        .header-form {
          @include f-right;
          width: calc(100% - (134px + 16px));
          .search-form {
            font-size: 16px;
            width: 100%;
            background: #fafafa;
            height: 36px;
            padding: 9px 32px 9px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
        }
      }
      &--lower {
        height: 38px;
        line-height: 38px;
        margin-top: 8px;
        .item-nav {
          @include f-left;
        }
        .login-nav {
          @include f-right;
          &__button {
            li {
              @include f-left;
              line-height: 30px;
              height: 30px;
            }
            &--login {
              background-color: #ea352d;
              border-radius: 4px;
              a {
                color: white;
                padding: 0 10px 0;
              }
            }
            &--signup {
              margin-left: 8px;
              border: 1px solid #0099e8;
              background-color: #white;
              border-radius: 4px;
              a {
                color: #0099e8;
                padding: 0 10px 0;
              }
            }
          }
        }
        .user-nav {
          @include f-right;
          &__button {
            li {
              @include f-left;
            }
            &--mypage {
              .mypage {
                &-avatar {
                  @include f-left;
                    img {
                      @include circle;
                      height: 32px;
                      width: 32px;
                    }
                }
                &-title {
                  @include f-left;
                  margin-left: 8px;
                }
              }
            }
            &--info {
              padding-left: 16px;
              position: relative;
              .fa-bell-o {
                font-size: 16px;
              }
              @include count-icon;
            }
            &--playlist {
              padding-left: 16px;
              .fa-check {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .bread-crumbs {
    height: 49px;
    width: 100%;
    border-top: 1px solid #eee;
    background: #FFF;
    ul {
      width: 1020px;
      padding: 16px 0;
      margin: 0 auto;
    }
  }
  .app-banner {
    height:260px;
    width: 100%;
    color: #fff;
    background-image: url('logo/download_bg_pc.jpg');
    background-position: center;
    &__inner {
      width: 750px;
      height: 260px;
      margin: 0 auto;
      display: table;
      &--left {
        width: 450px;
        display: table-cell;
        vertical-align: middle;
        h2 {
          font-size: 24px;
          font-weight: bold;
        }
        p {
          font-size: 35px;
          margin-top: 10px;
        }
        .logo {
            margin-top: 20px;
            height: 68px;
          &__left {
            @include f-left;
          }
          &__right {
            @include f-left;
            margin-left: 24px;
            height: 100%;
            padding-top: 15px;
            li {
              height: 68px;
              @include f-left;
            }
            &--space {
              margin-left: 16px;
            }
          }
        }
      }
      &--right {
        display: table-cell;
      }
    }
  }
  footer {
    background: #212121;
    padding: 60px 0;
    color: #fff;
    width: 100%;
    nav {
      width: 1020px;
      margin: 0 auto;
      .footer__cell {
        .footer__cell--content {
          @include f-left;
          width: 234px;
          margin-right: 20px;
          text-align: center;
          h2 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 24px;
          }
          ul {
            li {
              margin-top: 16px;
              a {
                color: white;
                &:hover {
                  text-decoration: underline;
                }
              }
              img {
                height: 22px;
                width: 22px;
                margin: 0 8px 0;
              }
            }
          }
        }
      }
    }
    .footer-logo {
      text-align: center;
      display: block;
      margin-top: 40px;
    }
    .footer-copyright {
      text-align: center;
      margin-top: 8px;
    }
  }
  .fotter-seil-btn {
    display: block;
    bottom : 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background: #ea352d;
    color: #fff;
    text-align: center;
    div {
      margin-top: 32px;
    }
    .fa {
      margin-top: 8px;
      font-size: 54px;
    }
  }
}

