.user-identity {
  .user-identity__area {
    margin: 40px auto;
    width: 1020px;
    &--side-menu {
      @include f-left;
      width: 280px;
      height: 1252px;
      background: white;
      margin-right: 40px;
    }
    &--profile {
      @include f-right;
      background: #fff;
      width: 700px;
      .profile-head {
        text-align: center;
        &__title {
          font-size: 24px;
          font-weight: bold;
          padding: 8px 24px;
        }
      }
      .profile-form {
        padding: 64px;
        &__box {
          margin-top: 40px;
          &:first-child {
            margin-top: 0;
          }
          &--name {
            font-weight: 600;
          }
          &--required {
            background-color: #f00;
            color: #fff;
            border-radius: 2px;
            margin-left: 8px;
            padding: 2px 4px;
          }
          &--option {
            background-color: #ccc;
            color: #fff;
            border-radius: 2px;
            margin-left: 8px;
            padding: 2px 4px;
          }
          &--input {
            width: 100%;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            margin-top: 8px;
            box-sizing: border-box;
          }
          &--select-area {
            line-height: 56px;
            .select-inbox {
              position: relative;
              &__selection {
                width: 100%;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                margin-top: 8px;
                -webkit-appearance: none;
              }
            }
            .fa-angle-down {
              position: absolute;
              right: 16px;
              top: 50%;
              transform: translate(0, -40%);
              z-index: 2;
              color: #888;
              font-size: 35px;
            }
            .birthday {
              @include f-left;
              width: 140px;
            }
            .birthday-datename {
              margin: 0 8px 0;
              @include f-left;
            }
          }
          &--info-text {
            color: #888;
            margin-top: 8px;
          }
          &--submit {
            margin-top: 40px;
            height: 48px;
            background: #f00;
            color: #fff;
            text-align: center;
            line-height: 48px;
          }
          &--info {
            text-align: right;
            a {
            color: #0099e8;
              &:hover {
                text-decoration: underline;
              }
              .fa-angle-right {
                margin-left: -3px;
                font-weight: bold;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
