.exhibit-body {
  width: 100%;
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
  &__container {
    padding: 0 0 220px;
    background-repeat: no-repeat;
    margin: 0;
    &--header {
      height: 128px;
      text-align: center;
      h1 {
        margin: 40px 0 0;
        display: inline-block;
        a {
          width: 185px;
          height: 49px;
          line-height: 49px;margin: 8px 0 0;
        }
        .mercari-image {
          width: 185px;
          height: 49px;
        }
      }
    }
    &--main {
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;

      .main-container {
        width: 700px;
        margin: 0 auto;
        background: #fff;
        .sell-container {
          border-style: solid;
          border-width: 0;
          &__header{
            padding: 32px 16px;
            font-size: 22px;
            line-height: 1.5;
            text-align: center;
            border: solid 0px rgb(245, 245, 245);
          }
          &__form{
            width: 100%;

            .sell-content {
              width: 620px;
              padding: 40px;
              border-top: 1px solid #eee;
              label {
                font-weight: bold;
              }
              &__image-upload-box {
                &--head{
                  font-size: 16px;
                  line-height: 12px;
                }
                &--content {
                  margin: 8px 0 0;
                  line-height: 1.5;
                }
                &--sell-dropbox-container {
                  display: block;
                  width: 620px;
                  margin: 16px auto 0;
                  .form-mask-image{
                    .sell-upload-drop-box {
                      float: right;
                      width: 620px - 80px;
                      margin: 0;
                      min-height: 120px;
                      padding: 40px;
                      -webkit-box-flex: 1;
                      -ms-flex: 1;
                      flex: 1;
                      position: relative;
                      min-height: 90px;
                      background: #f5f5f5;
                      border: 1px dashed #ccc;
                      font-size: 0;
                      text-align: center;
                      -webkit-transition: -webkit-box-shadow ease-out .3s;
                      transition: -webkit-box-shadow ease-out .3s;
                      transition: box-shadow ease-out .3s;
                      transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
                      cursor: pointer;
                      &__sell-upload-drop-file {
                        border: 0;
                        outline: 0;
                        font-family: inherit;
                        -webkit-appearance: none;
                      }
                      &__visible-pc {
                        position: absolute;
                        top: 50%;
                        left: 16px;
                        right: 16px;
                        text-align: center;
                        font-size: 14px;
                        line-height: 1.5;
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        pointer-events: none;
                        white-space: pre-wrap;
                        word-wrap: break-word;
                      }
                      &__icon-camera {
                        display: none;
                      }
                    }
                  }












                }
              }
              &__name {
                width: 620px;
                &--input {
                  width: 100%;
                  margin: 8px 0 0;
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  box-sizing: border-box;
                }
              }
              &__description {
                margin: 40px 0 0;
                &--textarea {
                  width: 100%;
                  margin: 8px 0 0;
                  display: block;
                  max-width: 100%;
                  min-height: 104px;
                  padding: 10px;
                  border: 1px solid #ccc;
                  background: #fff;
                  font-size: 16px;
                  line-height: 1.5;
                  box-sizing: border-box;
                }
              }
              &__sell-form-box {
                float: right;
                width: 400px;
                margin: 0;

                .margin-top {
                  margin-top: 40px;
                }



                &--form-group {
                  .input-brand{
                    width: 100%;
                    margin: 8px 0 0;
                    height: 48px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    line-height: 1.5;
                    font-size: 16px;
                    box-sizing: border-box;
                  }
                  .select-wrap {
                    width: 100%;
                    margin: 8px 0 0;
                    position: relative;
                    background: #fff;
                    .select-default{
                      width: 100%;
                      position: relative;
                      z-index: 2;
                      height: 48px;
                      padding: 0 16px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background: 0;
                      font-size: 16px;
                      line-height: 1.5;
                      cursor: pointer;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                    }
                    .fa-angle-down {
                      position: absolute;
                      right: 16px;
                      top: 50%;
                      z-index: 2;
                      color: #888;
                      font-size: 36px;
                      -webkit-transform: translate(0, -50%);
                      transform: translate(0, -50%);
                    }
                  }
                }
                &--sell-price {
                  .form-group {
                    padding: 0 0 24px;
                    border: 0;
                    &__label {
                      width: 50%;
                      line-height: 48px;
                    }
                  }
                  .sell-price-input {
                    text-align: right;
                    width: 50%;
                    height: 40px;
                    .sell-price-input-box{
                      display: inline-block;
                      width: 80%;
                      margin: 0 0 0 5%;
                    }
                    .input-price{
                      margin: 0;
                      width: 100%;
                      text-align: right;
                      height: 48px;
                      padding: 10px 16px 8px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background: #fff;
                      line-height: 1.5;
                      font-size: 16px;
                      box-sizing: border-box;
                    }
                  }
                  .commission-profit {
                    padding: 24px 0;
                    border-top: 1px solid #ccc;
                  }
                }
              }
              &__sell-sub-head {
                float: left;
                color: #888;
                font-size: 14px;
                text-decoration: none;
              }
              &__form-question {
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #0099e8;
                color: #fff;
                line-height: 14px;
                font-size: 12px;
                text-align: center;
                text-decoration: none;
              }




            }

            .sell-btn-box {
              &__notion {
                margin: 0 0 0;
                line-height: 1.5;
              }
              &__link {
                color: #0099e8;
                text-decoration: none;
              }
              .btn-red {
                margin: 40px 0 0;
                background: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                border: 1px solid transparent;
                -webkit-transition: all ease-out .3s;
                transition: all ease-out .3s;
                cursor: pointer;
                text-align: center;
              }
              .btn-gray {
                width: 45%;
                margin: 24px auto 0;
                background: #aaa;
                border: 1px solid #aaa;
                color: #fff;
                display: block;
                line-height: 48px;
                font-size: 14px;
                border: 1px solid transparent;
                -webkit-transition: all ease-out .3s;
                transition: all ease-out .3s;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
              }
            }


          }
        }
      }


    }
    &--footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 40px 0;
      text-align: center;
      .footer-content{
        &__rule-link {
          text-decoration: none;
          li{
            display: inline-block;
            margin: 0 16px 0 0;
          }
          &--agreement {
            display: block;
            color: #333;
            text-decoration: none;
          }
        }
        &__mercari-footer-logo {
          display: block;
          color: #333;
          width: 80px;
          height: 65px;
          margin: 40px auto 0;
        }
        &__copyright {
          margin: 8px 0 0;
          &--content{
            font-size: 12px;
          }
        }
      }





    }
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  .form-require {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    background-color: #ea352d;
    font-weight: 600;
  }
  .form-no-require{
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    background-color: #ccc;
    font-weight: 600;
  }
  .l-left {
    float: left;
  }
  .l-right {
    float: right;
  }
  .bold {
    font-weight: 600;
    font-size: 18px;
  }
  .profit-size{
    font-size: 30px;
  }
}

.hidden{
  display: none;
}

.modal{
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  &.is-visible{
    visibility: visible;
  }
  &__inner{
  background-color: #fff;
  width: 600px;
  height: 287px;
  margin: 20px auto;
  position: relative;
  color: #000;
    &--box{
      .modal-head{
        font-size: 16px;
        text-align: center;
        line-height: 80px;
        font-weight: 700;
      }
      .sell-modal-body{
        border-top: 1px solid #eee;
        padding: 40px;
        .btn-red-2{
          margin: 40px auto 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          text-align: center;
        }
        .text-center{
          margin: 8px 0 0;
          width: 100%;
          .btn-blue{
            color: #0099e8;
            text-decoration: none;
            text-align: center;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}

.is-fixed{
  overflow: hidden;
}
.opacity_box{
  &.is-visible{
    visibility: visible;
  }
  opacity: 0.6;
  background-color: #000;
  border: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  visibility: hidden;
}
.space {
  width: 100%;
  height: 40px;
}
