.show-item {
  width: 700px;
  margin: 0 auto;
  &__main {
    width: 620px;
    padding: 24px 40px 40px;
    margin: 40px auto 0;
    background-color: #fff;
    &--name {
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
    }
    &--content{
      @include clearfix();
      margin: 16px 0 0;
      .item-image {
        float: left;
        background-color: #f5f5f5;
        &-main {
          height: 300px;
          width: 300px;
          .big-photo-box {
            overflow: hidden;
            display: flex;
            #big1 {
              height: 300px;
              width: 300px;
            }
            #big2,#big3,#big4 {
              height: 300px;
              width: 300px;
              display:none
            }
            @include sold-tag
          }
        }
        &-sub {
          height: 75px;
          width: 300px;
          .image-sub {
            height: 75px;
            width: 75px;
            float: left;
            #mini1 {
              height: 75px;
              width: 75px;
              opacity:1.0;
            }
            #mini2, #mini3,#mini4 {
              height: 75px;
              width: 75px;
              opacity:0.5;
            }
          }
        }
      }
      .item-detail-table {
        float: right;
        width: 300px;
        table {
          @include table();
        }
      }
    }
    &-price {
      font-size: 50px;
      font-weight: bold;
      margin: 24px 0 0;
      text-align: center;
      line-height: 3rem;
      .tax {
        font-weight: normal;
        font-size: 8px;
        .postage{
          font-size: 16px;
        }
      }
    }
    &-buy-btn {
      @include btn();
      margin: 16px 0 0;
      height: 56px;
      color: #fff;
      background-color: #ea352d;
      line-height: 56px;
      font-size: 24px;
      font-weight: bold;
    }
    .buy-after {
    background-color: #888;
    }
    &-exhibitor-comment {
      padding: 32px 0 0;
      word-break: break-all;
    }
    &-btn-container {
      @include clearfix();
      margin: 16px 0 0;
      &-left {
        .btn-likes {
        border-radius: 40px;
        float: left;
          .like {
            @include mini-btn();
          }
        }
        .report {
          margin-left: 16px;
          @include mini-btn();
        }
      }
      &-right {
        color: #0099e8;
        font-size: 12px;
        text-decoration: none;
        padding: 8px 16px;
        float: right;
      }
    }
  }
  &__user-comment {
    margin: 8px auto;
    width: 700px;
    background-color: #fff;
    &--box {
      .comment-area {
        padding: 24px;
        &__list {
          .image {
            border-radius: 50%;
            height: 40px;
            width: 40px;
          }
          list-style: none;
          padding: 0;
          margin: 0 0 35px 0;
          .first-comment {
            margin: 0 1.5rem 0 0;
            @include comment-balloon();
          }
          li {
            width: 100%;
            margin: 60px 0 0;
            @include comment-balloon();
          }
        }
      }
    }
    .comment-box {
      padding: 0 24px 24px 24px ;
      .comment-detail {
        width: 650px;
        background-color: #fff6de;
        font-size: 14px;
        p {
          line-height: 1.0rem;
          padding: 8px;
          margin: 0;
        }
      }
    }
    .comment {
      margin-top: 8px;
      padding-left: 5px;
      width: 640px;
      height: 100px;
      font-size: 16px;
    }
    .comment-btn {
      @include btn();
      height: 50px;
      color: #fff;
      background-color: #aaa;
      line-height: 56px;
      font-size: 12px;
      font-weight: bold;
      width: 650px;
    }
  }
  .show-item__sns {
    margin-bottom: 24px;
    padding: 32px 0 24px;
    height: 100px;
    width: 100%;
    background-color: #fff;
    &-contents {
      padding-top: 40px;
      margin: 0 auto;
      height: 60px;
      width: 300px;
      list-style: none;
      text-align: center;
      .sns-box {
        display: inline-block;
        height: 40px;
        width: 40px;
        &-facebook {
          display: block;
          background-color: #385185;
          @include icon();
          .facebook {
            .fa {
              @include fa-icon();
              color: #fff;
              font-size: 18px;
              position: absolute;
              top: 11px;
              left: 13px;
            }
          }
        }
        &-twitter {
          display: block;
          background-color: #0099e8;
          @include icon();
          .twitter {
            .fa {
              @include fa-icon();
              color: #fff;
              font-size: 18px;
              position: absolute;
              top: 11px;
              left: 13px;
            }
          }
        }
        &-pinterest {
          display: block;
          background-color: #aa262a;
          @include icon();
          .pinterest {
            .fa {
              @include fa-icon();
              color: #fff;
              font-size: 18px;
              position: absolute;
              top: 11px;
              left: 11px;
            }
          }
        }
      }
    }
  }
  .other {
    width: 700px;
    h2 {
      margin: 24px 0 8px;
    }
    &-items-title {
      font-size: 22px;
      font-weight: bold;
      text-decoration: none;
      color: #1cd0dd;
    }
    &-items {
      @include clearfix();
      width: 100%;
      margin-bottom: 24px;
      &-item {
        margin: 0 0 20px 20px;
        color: #333;
        text-decoration: none;
        background-color: #fff;
        float: left;
        height: 330px;
        width: 220px;
        &-image {
          @include sold-tag;
          height: 220px;
          width: 220px;
          .photo {
            height: 220px;
            width: 220px;
          }
        }
        &-box {
          padding: 16px;
          height: 78px;
          &-title {
            h3 {
              @include clearfix();
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
            }
          }
          &-price {
            line-height: 1rem;
            font-weight: bold;
            p {
              font-size: 6px;
            }
          }
        }
        &:nth-child(3n-2) {
          margin-left: 0;
        }
      }
    }
  }
}

