.entry-box {
  &__box {
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    h1 {
      padding: 32px 16px;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
    }
    &--form {
      border-top: 1px solid #f5f5f5;
      padding: 64px;
      .content {
        &:first-child {
          width: 320px;
          margin: 0 auto;
        }
        width: 320px;
        margin: 50px auto 0;
        .form-group {
          margin: 40px 0 0;
          &:first-child {
            margin: 0;
          }
          label {
            @include f-left;
            font-weight: 600;
            display: inline-block;
          }
          .label-tag {
            @include f-left;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            &.require {
              background-color: #ea352d;
            }
            &.option {
              background-color: #ccc;
            }
          }
          .field {
            height: 36px;
            width: 100%;
            margin: 8px 0 0;
            padding: 6px 16px 6px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          h2 {
            font-weight: bold;
            font-size: 16px;
          }
          p {
            margin: 8px 0 0;
          }
          .birthday-select {
            width: 200px;
            .select-wrap {
              display: inline-block;
              position: relative;
              margin: 8px 0 0;
              width: 200px;
              .field_with_errors {
                .birthday {
                  border: 1px solid red;
                }
              }
              .birthday {
                margin-top: 5px;
                width: 140px;
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                &:nth-child(4){
                  display: none;
                }
                &:nth-child(5){
                  display: none;
                }
              }
              &__default {
                width: 140px;
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
              }
              select {
                outline: 0;
                -webkit-appearance: none;
              }
              #down1 {
                @include fa-icon();
                position: absolute;
                right: 70px;
                top: 18%;
                z-index: 2;
                color: #888;
                font-size: 28px;
                transform: translate(0, -50%);
              }
              #down2 {
                @include fa-icon();
                position: absolute;
                right: 70px;
                top: 50%;
                z-index: 2;
                color: #888;
                font-size: 28px;
                transform: translate(0, -50%);
              }
              #down3 {
                @include fa-icon();
                position: absolute;
                right: 70px;
                top: 82%;
                z-index: 2;
                color: #888;
                font-size: 28px;
                transform: translate(0, -50%);
              }
            }
            span {
            }
          }
          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          &__info {
            margin: 8px 0 0;
            line-height: 1.5;
            color: #888;
          }
          .recaptcha {
            height: 78px;
            width: 320px;
            border: 1px solid #eee;
            background-color: #f5f5f5;
          }
          &__text {
            text-align: center;
            .link {
              color: #0099e8;
            }
          }
          .error-msg {
            color: red;
            margin-top: 8px;
          }
          .field_with_errors {
            input {
              border: 1px solid red;
            }
          }
        }
        .btn-next {
          @include btn();
          margin: 40px 0 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
        }
        .text-info {
          text-align: right;
          .link {
            color: #0099e8;
            .arrow-right {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
