/* サイドバー */
.user-side {
  width: 280px;
  margin: 0 0 20px 430px;
  &__nav{
    &--list{
      li {
      border-top: 1px solid #eee;
      position: relative;
      height: 47px;
      line-height: 50px;
      .user-nav-box {
        position: relative;
        display: block;
        min-height: 48px;
        background: #fff;
        color: #333;
        padding-left: 10px;
          &:hover{
            background-color: #fafafa;
          }
        }
      .user-nav-number {
        border-radius: 50%;
        background: #ea352d;
        line-height: 24px;
        color: #fff;
        -webkit-transform: translate(0, -50%);
        float: right;
        margin: -27px 40px 7px 7px;
       }
         .fa-angle-right {
           position: absolute;
          top: 50%;
          right: 16px;
          color: #ccc;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          -webkit-transition: all ease-out .2s;
          transition: all ease-out .2s;
          font-size: 20px;
        }
      }
    }
    &--head-left {
     margin: 5px 0 -10px -20px;
     padding: 20px;
     font-size: 15px;
    }
  }
}
