/* ユーザー*/
.container {
  margin: 40px auto;
	width: 1020px;
  &__during {
    margin: 0 0 50px 0;
    float: right;
    width: 700px;
    &--user-box {
      height: 155px;
      padding: 20px;
      background: image-url("user-bg.jpg");
      text-align: center;
      &__todo {
        margin: 0;
        background: #fff;
        &-list {
          font-size: 0;
          padding: 0;
          li {
            width: 50%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            border-bottom: 1px solid #eee;
            h3 {
              font-size: 22px;
              margin: 0;
              padding: 0;
              a {
                border-top: 2px
                solid #ea352d;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;
              }
            }
          }
        }
      }
      .user-link {
        display: block;
        margin-top: 60px;
        transform: translate(0, -50%);
        color: #333;
        &:hover{
          opacity: 0.6;
        }
        &__image {
          height: 60px;
          border-radius: 90px;
          margin-top: 20px;
        }
        .user-the-history {
          margin: 9px 0 0;
          div {
            display: inline-block;
            font-size: 14px;
          }
        }
      }
      h2 {
        margin-top: 5px;
      }
    }
  }
    /*ユーザー報告ホーム*/
  .tab-container {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    &-notification {
      li {
        border-bottom: 1px solid #f5f5f5;
        &:hover{
          opacity: 0.6;
        }
        .item {
          display: block;
          min-height: 80px;
          padding: 3px 8px 3px 15px;
          position: relative;
          &-image {
            position: absolute;
            z-index: 1;
            width: 48px;
            height:48px;
            top: 20px;
          }
          .fa-chevron-right {
            position: absolute;
            right: 5%;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
        }
        .user-item-body {
          margin: 0 40px 0 68px;
          position: relative;
          &-text {
            overflow: hidden;
            display: block;
            display: -webkit-box;
            max-height: 4.4em;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            line-height: 1.5;
            margin-top: 10px;
          }
          time {
            display: inline-block;
            color: #888;
          }
        }
      }
    }
    .user-go-list {
      border: 0;
      padding: 16px;
      a {
        display: block;
        height: 56px;
        margin: 0 auto;
        background: #eee;
        color: #333;
        line-height: 57px;
        text-align: center;
        margin-right: 10px;
      }
    }
  }
}
