- breadcrumb :brand, @brand_name
.show-page
  .show-page__index
    %h1
      = @brand_name.name + "の商品一覧"
    .item-list.clearfix
      = render partial: "items/item-box", collection: @brand_list, as: "item"
