- breadcrumb :category, @category
.show-page
  %ul.show-page__tag
    - @category.children.limit(8).each do |category|
      %li
        = link_to category.name_i18n, category_path(category), class: "tag"
  .show-page__index
    %h1
      = @category.name_i18n + "の商品一覧"
    .show-page__index--content
      = render partial: "items/content-item", collection: @select_items, as: "item"
