- breadcrumb :region, @region_name
.show-page
  .show-page__index
    %h1
      = @region_name.name_i18n + "の商品一覧"
    .item-list.clearfix
      = render partial: "items/item-box", collection: @region_list, as: "item"
