@mixin count-icon {
  .count-icon {
    position: absolute;
    top: -2px;
    left: 22%;
    font-size: 12px;
    line-height: 13px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #ea352d;
    border: 4px solid #ea352d;
    color: #ffffff;
    text-align: center;
  }
}

