@mixin item-list($height, $width, $interval, $block) {
  .item-list {
    width: $width;
    height: 100%;
    .item-box {
      background-color: #fff;
      @include f-left;
      height: $height;
      $margin: calc(#{$interval} * (#{$block} - 1));
      width: calc((#{$width} - #{$margin}) / #{$block});
      &__photo {
        img {
          height: calc(#{$height / 3 * 2});
          width: 100%;
        }
        @include sold-tag;
      }
      &__body {
        padding: 16px;
        &--name {
          font-weight: 400;
          height: 3em;
          line-height: 1.5;
          word-break: break-word;
          white-space: normal;
          font-size: 16px;
        }
        &--info {
          margin: 8px 0 0;
          bottom: 10px;
          height: 28px;
          .item-price {
            @include f-left;
            font-size: 14px;
          }
          .item-like {
            @include f-right;
            .fa {
              @include fa-icon();
            }
          }
        }
        .item-tax {
          font-size: 10px;
          clear: both;
        }
      }
      &:not(:nth-child(#{$block + n - ($block - 1)})) {
        margin-left: $interval;
      }
      &:nth-child(n + #{$block + 1}) {
        margin-top: $interval;
      }
    }
  }
}
