@mixin mymenu {
  .mymenu {
    display: none;
    background-color: #fff;
    width: 320px;
    position: absolute;
    z-index: 1000;
    border: 1px solid #eee;
    top: 38px;
    &__box {
      position: relative;
      width: 100%;
      height: 150px;
      border-bottom: 1px solid #eee;
      &--image {
        width: 100%;
        height: 50%;
        .back-image {
          width: 100%;
          height: 100%;
        }
      }
      .avator {
        position: absolute;
        @include circle;
        width: 60px;
        top: 30px;
        left: 130px;
      }
      &--describe {
        height: 50%;
        h2 {
          text-align: center;
          font-size: 16px;
          padding: 16px 0 0 0;
          line-height: 16px;
        }
        .describe__box {
          width: 130px;
          margin: 0 auto;
          .score {
            padding: 0 0 0 10px;
            @include f-left;
          }
          .selling-item {
            padding: 0 0 0 10px;
            @include f-left;
          }
        }
      }
    }
    &__link {
      &--nav {
        position: relative;
        .nav {
          padding: 0 15px;
          display: block;
          border-top: 1px solid #eee;
          height: 50px;
          line-height: 50px;
        }
        .nav:hover {
          background-color: #eee;
          padding-left: 7px;
        }
        .fa {
          position: absolute;
          font-size: 24px;
          top: 15px;
          right: 20px;
          color: #ccc;
        }
      }
    }
  }
}
