@mixin fa-icon {
    font: 14px FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing:antialiased;
}

@mixin icon {
  display: block;
  position: relative;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin: 0 8px 8px 0;
  float: left;
}

@mixin next-item {
  line-height: 50px;
  font-size: 12px;
  text-decoration: none;
  color: #0099e8;
}

@mixin clearfix(){
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin table() {
  font-size: 14px;
  max-width: 300px;
  height: 100%;
  border-collapse: collapse;
  th {
    vertical-align: middle;
    padding: 8px;
    width: 39%;
    text-align: left;
    background: #fafafa;
    border: 1px solid #f5f5f5;
  }
  td {
    padding: 8px;
    width: 61%;
    border: 1px solid #f5f5f5;
    .item-user {
      margin: 10px 0 0 0;
      .grin {
        color: #ff1493;
      }
      .meh {
        color: #ffa500;
      }
      .frown {
        color: #4682b4;
      }
    }
    .link {
      display: inline-block;
      text-decoration: none;
      color: #0099e8;
    }
  }
}

@mixin mini-btn(){
  font-size: 12px;
  color: #333;
  text-decoration: none;
  background-color: #f5f5f5;
  border-radius: 40px;
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #f5f5f5;
}

@mixin mercari-logo {
  padding-top: 40px;
  margin: 0 auto;
  display: block;
  height: 49px;
  width: 185px;
}

@mixin btn {
  text-decoration: none;
  display: block;
  text-align: center;
}

@mixin content-item {
  background-color: #fff;
  height: 330px;
  width: 188px;
  .content-item__photo {
    width: 188px;
    &--banner {
      height: 213px;
      width: 188px;
    }
    .sold-box{
      overflow: hidden;
      position: absolute;
      width: 100px;
      height: 100px;
      &:before {
        content: '';
        position: absolute;
        top: -30px;
        left: -55px;
        width: 150px;
        height: 150px;
        background: #ea352d;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        }
      &__name {
        position: relative;
        top: 5px;
        left: -8px;
        font-size: 23px;
        color: #fff;
        font-weight: 600;
        transform: rotate(-45deg);
      }
    }
  }
  .content-item__body {
    padding: 16px;
    &--name {
      font-weight: 400;
      height: 3em;
      line-height: 1.5;
      word-break: break-word;
      white-space: normal;
      font-size: 16px;
    }
    &--info {
      margin: 8px 0 0;
      bottom: 10px;
      height: 28px;
      .item-price {
        @include f-left;
        font-size: 14px;
      }
      .item-like {
        @include f-right;
        .fa {
          @include fa-icon();
        }
      }
    }
    .item-tax {
      font-size: 10px;
      clear: both;
    }
  }
}
